<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="io.factorialsystems.store.domain.user.User" alias="user"/>
        <typeAlias type="io.factorialsystems.store.domain.user.Role" alias="role"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/fotojugdb?useUnicode=true;useJDBCCompliantTimezoneShift=true;useLegacyDatetimeCode=false;serverTimezone=UTC"/>-->
<!--                <property name="username" value="adebola"/>-->
<!--                <property name="password" value="password"/>-->
<!--            </dataSource>-->
            <dataSource type="JDBC">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://pfw0ltdr46khxib3.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/vrunjj44ves1gkqh"/>
                <property name="username" value="tr3i0zp897w8e2vd"/>
                <property name="password" value="v1f0zb5m2i9xb2sf"/>
            </dataSource>
        </environment>
        <environment id="production">
            <transactionManager type="MANAGED"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://tr3i0zp897w8e2vd:v1f0zb5m2i9xb2sf@pfw0ltdr46khxib3.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/vrunjj44ves1gkqh"/>
                <property name="username" value="tr3i0zp897w8e2vd"/>
                <property name="password" value="v1f0zb5m2i9xb2sf"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="ibatis/UserMapper.xml"/>
        <mapper resource="ibatis/RoleMapper.xml"/>
    </mappers>
</configuration>
